<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehaivor">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Rhino.Service.Archivo">
        <endpoint address="" behaviorConfiguration="EndPointBehaivor" binding="webHttpBinding" contract="Rhino.Service.IArchivo" />
      </service>
      <service name="Rhino.Service.Servicios">
        <endpoint address="" behaviorConfiguration="EndPointBehaivor" binding="webHttpBinding" contract="Rhino.Service.IServicios" />
      </service>
      <service name="Rhino.Service.Generic">
        <endpoint address="" behaviorConfiguration="EndPointBehaivor" binding="webHttpBinding" contract="Rhino.Service.IGeneric" />
      </service>
    </services>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
   <add name="rhinoEntities" connectionString="metadata=res://*/Sql.Model1.csdl|res://*/Sql.Model1.ssdl|res://*/Sql.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5108.site4now.net;initial catalog=DB_A642ED_prueba;persist security info=True;user id=DB_A642ED_prueba_admin;password=sistemas0pt3c0m;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="conexion" connectionString="Data Source=sql5108.site4now.net;Initial Catalog=DB_A642ED_prueba; user id=DB_A642ED_prueba_admin;password=sistemas0pt3c0m;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="rhinoEntities" connectionString="metadata=res://*/Sql.Model1.csdl|res://*/Sql.Model1.ssdl|res://*/Sql.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5053.site4now.net;initial catalog=DB_A642ED_siscoint;persist security info=True;user id=DB_A642ED_siscoint_admin;password=sistemas0pt3c0m;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5022.0" newVersion="2.0.5022.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
</configuration>